In [4]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [5]:
hp_bm_sdt = gpd.read_file(r'D:\CivicDataLabs_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Maps\bharatmaps_HP_subdistricts.geojson')
hp_sdt_tehsil = gpd.read_file(r'D:\CivicDataLabs_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Maps\HP_subdistrict2.geojson')

In [21]:
hp_bm_sdt['sdtcode11'] = hp_bm_sdt['sdtcode11'].astype(int)
hp_bm_sdt['sdtcode11']

0       88
1       92
2       90
3       84
4       87
      ...
118    183
119    176
120    130
121    147
122    135
Name: sdtcode11, Length: 123, dtype: int32

In [7]:
hp_sdt_tehsil

,District,STATE,TEHSIL,Shape_Leng,Shape_Area,geometry
0,BIL>SPUR,HIMACHAL PRADESH,BHARARI,50253.228763,9.000306e+07,"MULTIPOLYGON (((3692891.89720 4829904.53730, 3..."
1,BIL>SPUR,HIMACHAL PRADESH,BIL>SPUR,93446.685818,1.703525e+08,"MULTIPOLYGON (((3706044.90120 4804192.11550, 3..."
2,BIL>SPUR,HIMACHAL PRADESH,GHURMW|N,105834.665205,1.906542e+08,"MULTIPOLYGON (((3697948.59020 4820771.46440, 3..."
3,BIL>SPUR,HIMACHAL PRADESH,JHAND@TA,112831.475031,3.205376e+08,"MULTIPOLYGON (((3673945.10730 4817319.27250, 3..."
4,BIL>SPUR,HIMACHAL PRADESH,NAMHOL,61752.616994,1.034979e+08,"MULTIPOLYGON (((3705961.85630 4802017.45780, 3..."
...,...,...,...,...,...,...
107,KINNAUR,HIMACHAL PRADESH,HANGRANG,126162.028723,5.002174e+08,"MULTIPOLYGON (((3882916.21110 4861947.02890, 3..."
108,KINNAUR,HIMACHAL PRADESH,MORANG,286156.570410,1.751222e+09,"MULTIPOLYGON (((3824686.59440 4858716.43710, 3..."
109,KINNAUR,HIMACHAL PRADESH,PUH,212682.456325,1.217420e+09,"MULTIPOLYGON (((3855584.00790 4866594.39210, 3..."
110,KINNAUR,HIMACHAL PRADESH,SANGLA,280578.805650,1.424896e+09,"MULTIPOLYGON (((3825550.53290 4820600.87950, 3..."
111,L>HUL & SPITI,HIMACHAL PRADESH,SPITI,616229.261354,7.115969e+09,"MULTIPOLYGON (((3876579.61730 4881209.52990, 3..."

In [8]:
ndbi_subdis = pd.read_csv(r'D:\CivicDataLabs_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\master\ndbi_subdis.csv')
ndvi_subdis = pd.read_csv(r'D:\CivicDataLabs_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\master\ndvi_subdis.csv')

In [9]:
ndbi_subdis

,District,STATE,TEHSIL,Shape_Leng,Shape_Area,mean,count,timeperiod
0,BIL>SPUR,HIMACHAL PRADESH,BHARARI,50253.228763,9.000306e+07,-0.089537,1733,2019_01
1,BIL>SPUR,HIMACHAL PRADESH,BIL>SPUR,93446.685818,1.703525e+08,-0.115564,639,2019_01
2,BIL>SPUR,HIMACHAL PRADESH,GHURMW|N,105834.665205,1.906542e+08,-0.099229,3568,2019_01
3,BIL>SPUR,HIMACHAL PRADESH,JHAND@TA,112831.475031,3.205376e+08,-0.155171,6166,2019_01
4,BIL>SPUR,HIMACHAL PRADESH,NAMHOL,61752.616994,1.034979e+08,NaN,0,2019_01
...,...,...,...,...,...,...,...,...
7275,KINNAUR,HIMACHAL PRADESH,HANGRANG,126162.028723,5.002174e+08,NaN,0,2024_05
7276,KINNAUR,HIMACHAL PRADESH,MORANG,286156.570410,1.751222e+09,NaN,0,2024_05
7277,KINNAUR,HIMACHAL PRADESH,PUH,212682.456325,1.217420e+09,NaN,0,2024_05
7278,KINNAUR,HIMACHAL PRADESH,SANGLA,280578.805650,1.424896e+09,NaN,0,2024_05
7279,L>HUL & SPITI,HIMACHAL PRADESH,SPITI,616229.261354,7.115969e+09,NaN,0,2024_05

In [18]:
inundation_pct = pd.read_csv(r'D:\CivicDataLabs_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\master\inundation_pct.csv')
inundation_pct

,sdtcode11,count_bhuvan_pixels,count_inundated_pixels,inundation_pct,inundation_intensity_mean,inundation_intensity_mean_nonzero,inundation_intensity_sum,timeperiod
0,88,854040,0,0.0,NaN,NaN,NaN,2021_01
1,92,3082713,0,0.0,NaN,NaN,NaN,2021_01
2,90,3284133,0,0.0,NaN,NaN,NaN,2021_01
3,84,3802451,0,0.0,NaN,NaN,NaN,2021_01
4,87,528039,0,0.0,NaN,NaN,NaN,2021_01
...,...,...,...,...,...,...,...,...
118,183,353136,0,0.0,NaN,NaN,NaN,2021_01
119,176,315695,0,0.0,NaN,NaN,NaN,2021_01
120,130,250968,0,0.0,NaN,NaN,NaN,2021_01
121,147,316797,0,0.0,NaN,NaN,NaN,2021_01
122,135,629169,0,0.0,NaN,NaN,NaN,2021_01

In [19]:
inundation_pct.dtypes

sdtcode11                              int64
count_bhuvan_pixels                    int64
count_inundated_pixels                 int64
inundation_pct                       float64
inundation_intensity_mean            float64
inundation_intensity_mean_nonzero    float64
inundation_intensity_sum             float64
timeperiod                            object
dtype: object

In [ ]:
inundation_pct

In [17]:
inundation_pct['sdtcode11'] = inundation_pct['sdtcode11'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [13]:
antyodaya = pd.read_csv(r'D:\CivicDataLabs_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\master\antyodaya_variables.csv')

In [15]:
antyodaya.dtypes

objectid                    float64
sdtcode11                     int64
district_name                object
sub_district_name            object
sub_district_code             int64
net_sown_area_in_hac        float64
avg_electricity             float64
avg_tele                    float64
sd_piped_hhds_pct           float64
sd_nosanitation_hhds_pct    float64
total_hhd                   float64
timeperiod                  float64
dtype: object

In [23]:
risk_score_final = pd.read_csv(r'D:\CivicDataLabs_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\RiskScoreModel\data\risk_score_final_SIMPLIFIED.csv')
risk_score_final

,sdtcode11,district,rc-area,timeperiod,total-tender-awarded-value,others-tenders-awarded-value,unnamed:-0,objectid-x,stcode11,dtcode11,...,sd-piped-hhds-pct,sd-nosanitation-hhds-pct,total-hhd,exposure,flood-hazard,government-response,vulnerability,topsis-score,risk-score,object-id
0,173.0,Sirmaur,9.913454e+08,2021_04,0.0,0.0,0.0,0.0,0.0,0.0,...,46.82,4.660000,35307.0,4,2.0,5,3,0.679078,5,NaN
1,93.0,Kangra,7.573396e+08,2021_04,0.0,0.0,0.0,0.0,0.0,0.0,...,39.06,12.570000,39960.0,4,2.0,5,3,0.679078,5,NaN
2,172.0,Sirmaur,3.936043e+08,2021_04,0.0,0.0,0.0,0.0,0.0,0.0,...,52.25,12.580000,17321.0,2,2.0,5,4,0.664871,5,NaN
3,103.0,Kangra,7.508755e+08,2021_04,0.0,0.0,0.0,0.0,0.0,0.0,...,54.43,6.500000,19646.0,2,2.0,5,4,0.664871,5,NaN
4,95.0,Kangra,3.879163e+08,2021_04,0.0,0.0,0.0,0.0,0.0,0.0,...,56.83,9.800000,19987.0,2,2.0,5,4,0.664871,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3562,114.0,Lahul And Spiti,2.575013e+09,2023_08,0.0,0.0,69.0,3311.0,2.0,25.0,...,24.39,8.460000,3471.0,1,1.0,5,1,0.000000,1,NaN
3563,182.0,Shimla,2.384353e+07,2023_08,0.0,0.0,71.0,3316.0,2.0,33.0,...,34.50,5.955625,0.0,1,1.0,5,1,0.000000,1,NaN
3564,194.0,Kinnaur,7.109808e+08,2023_08,0.0,0.0,73.0,1703.0,2.0,34.0,...,72.96,14.090000,1498.0,1,1.0,5,1,0.000000,1,NaN
3565,157.0,Bilaspur,1.454353e+08,2023_08,0.0,0.0,81.0,2108.0,2.0,30.0,...,42.00,16.770000,3511.0,1,1.0,5,1,0.000000,1,NaN
3566,177.0,Shimla,1.166556e+09,2023_08,0.0,0.0,42.0,43.0,2.0,33.0,...,59.99,2.650000,12849.0,1,1.0,5,1,0.000000,1,NaN

In [30]:
risk_simplified = risk_score_final[['timeperiod','sdtcode11','exposure','flood-hazard','government-response','vulnerability','topsis-score','risk-score']]
risk_simplified.to_csv('risk_simplified.csv')