In [2]:
import pandas as pd
import numpy as np

In [68]:
df = pd.read_csv('vulnerability_scores.csv', header=None).T

In [69]:
# Set the first row as header
df.columns = df.iloc[0]

# Drop the first row which is now the header
df = df.drop(0)

# Reset the index
df = df.reset_index(drop=True)
df = df.rename(columns={'object_id': 'year'})

df

,month,year,110,194,167,273,190,121,105,109,...,169,139,222,163,156,170,246,186,280,180
0,4,2021,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
1,5,2021,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
2,6,2021,2,1,1,1,2,4,1,4,...,3,2,4,3,1,2,4,2,3,1
3,7,2021,2,1,1,1,2,4,1,4,...,3,2,3,3,1,2,4,2,3,1
4,8,2021,2,1,1,1,2,4,1,4,...,2,2,3,3,1,1,4,2,3,1
5,9,2021,2,1,1,1,2,3,1,4,...,3,2,3,3,1,1,4,2,2,1
6,10,2021,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
7,11,2021,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
8,12,2021,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
9,1,2022,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
10,2,2022,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
11,3,2022,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
12,4,2022,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
13,5,2022,2,1,1,1,2,3,1,4,...,2,2,4,3,1,1,4,3,2,1
14,6,2022,2,1,1,1,2,3,1,4,...,2,1,3,3,1,1,4,2,1,1
15,7,2022,2,1,1,1,2,3,1,4,...,2,1,3,3,1,1,4,3,1,1
16,8,2022,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
17,9,2022,2,1,1,1,2,4,1,4,...,2,2,3,3,1,1,4,2,2,1
18,10,2022,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
19,11,2022,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
20,12,2022,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
21,1,2023,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
22,2,2023,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
23,3,2023,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
24,4,2023,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
25,5,2023,2,1,1,1,2,4,1,4,...,2,2,3,3,1,2,4,2,3,1
26,6,2023,2,1,1,1,2,4,1,4,...,3,2,4,3,1,1,4,2,2,1
27,7,2023,2,1,1,1,2,4,1,4,...,3,2,3,3,1,2,4,2,2,1
28,8,2023,2,1,1,1,2,4,1,4,...,3,2,3,3,1,1,4,2,3,1

In [70]:
melted_df = pd.melt(df, id_vars=['year','month'], var_name='object_id', value_name='Score')

melted_df['timeperiod'] = melted_df['year'].astype(str) + '_' + melted_df['month'].apply(lambda x: str(x).zfill(2))
melted_df['object_id'] = melted_df['object_id'].astype(int)

melted_df = melted_df.rename(columns={'Score': 'vulnerability'})

In [71]:
melted_df.to_csv('vulnerability.csv', index=False)

In [73]:
vul = pd.read_csv('vulnerability.csv')
gov = pd.read_csv('government-response.csv')

In [89]:
hazard = pd.read_csv('floodhazard.csv')
hazard['timeperiod'] = hazard['year'].astype(str) + '_' + hazard['month'].apply(lambda x: str(x).zfill(2))
hazard = hazard.rename(columns={'Hazard class': 'flood-hazard'})

In [74]:
master = pd.read_csv('MASTER_VARIABLES.csv')

In [75]:
master

,object_id,district,rc_area,timeperiod,total_tender_awarded_value,SOPD_tenders_awarded_value,SDRF_tenders_awarded_value,RIDF_tenders_awarded_value,LTIF_tenders_awarded_value,CIDF_tenders_awarded_value,...,elevation_mean,slope_mean,net_sown_area_in_hac,avg_electricity,avg_tele,rc_piped_hhds_pct,rc_nosanitation_hhds_pct,total_hhd,distance_from_river,drainage_density
0,101,KOKRAJHAR,1069,2021_04,0.00,0.0,0.00,0.00,0.0,0.0,...,78.792197,2.387460,32583.05,6.095781,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542
1,101,KOKRAJHAR,1069,2021_05,17884047.70,0.0,0.00,0.00,0.0,0.0,...,78.792197,2.387460,32583.05,6.095781,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542
2,101,KOKRAJHAR,1069,2021_06,23957462.01,8544502.0,9957710.23,0.00,0.0,0.0,...,78.792197,2.387460,32583.05,6.095781,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542
3,101,KOKRAJHAR,1069,2021_07,22246865.21,0.0,0.00,9926893.93,0.0,0.0,...,78.792197,2.387460,32583.05,6.095781,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542
4,101,KOKRAJHAR,1069,2021_08,7991730.00,0.0,7991730.00,0.00,0.0,0.0,...,78.792197,2.387460,32583.05,6.095781,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5215,281,MAJULI,648,2023_04,0.00,0.0,0.00,0.00,0.0,0.0,...,83.727276,2.595149,10909.71,9.435180,2.0,7.813776,6.202922,22038.0,822.878713,0.000629
5216,281,MAJULI,648,2023_05,0.00,0.0,0.00,0.00,0.0,0.0,...,83.727276,2.595149,10909.71,9.435180,2.0,7.813776,6.202922,22038.0,822.878713,0.000629
5217,281,MAJULI,648,2023_06,0.00,0.0,0.00,0.00,0.0,0.0,...,83.727276,2.595149,10909.71,9.435180,2.0,7.813776,6.202922,22038.0,822.878713,0.000629
5218,281,MAJULI,648,2023_07,0.00,0.0,0.00,0.00,0.0,0.0,...,83.727276,2.595149,10909.71,9.435180,2.0,7.813776,6.202922,22038.0,822.878713,0.000629
5219,281,MAJULI,648,2023_08,0.00,0.0,0.00,0.00,0.0,0.0,...,83.727276,2.595149,10909.71,9.435180,2.0,7.813776,6.202922,22038.0,822.878713,0.000629

In [77]:
master = master.merge(vul[['timeperiod', 'object_id', 'vulnerability']],
            on = ['object_id', 'timeperiod'])

In [79]:
master = master.merge(gov[['timeperiod', 'object_id', 'government-response']],
            on = ['object_id', 'timeperiod'])

In [90]:
master = master.merge(hazard[['timeperiod', 'object_id', 'flood-hazard']],
            on = ['object_id', 'timeperiod'])

In [100]:
exposure = pd.read_csv('score.csv')
exposure = exposure.rename(columns={'exposurescore': 'exposure'})

In [102]:
master = master.merge(exposure[['object_id', 'exposure']],
            on = ['object_id'])

In [103]:
master

,object_id,district,rc_area,timeperiod,total_tender_awarded_value,SOPD_tenders_awarded_value,SDRF_tenders_awarded_value,RIDF_tenders_awarded_value,LTIF_tenders_awarded_value,CIDF_tenders_awarded_value,...,avg_tele,rc_piped_hhds_pct,rc_nosanitation_hhds_pct,total_hhd,distance_from_river,drainage_density,vulnerability,government-response,flood-hazard,exposure
0,101,KOKRAJHAR,1069,2021_04,0.00,0.0,0.00,0.00,0.0,0.0,...,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542,1,5,1,2
1,101,KOKRAJHAR,1069,2021_05,17884047.70,0.0,0.00,0.00,0.0,0.0,...,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542,1,5,1,2
2,101,KOKRAJHAR,1069,2021_06,23957462.01,8544502.0,9957710.23,0.00,0.0,0.0,...,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542,1,4,1,2
3,101,KOKRAJHAR,1069,2021_07,22246865.21,0.0,0.00,9926893.93,0.0,0.0,...,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542,1,3,1,2
4,101,KOKRAJHAR,1069,2021_08,7991730.00,0.0,7991730.00,0.00,0.0,0.0,...,2.0,0.937283,20.164813,62424.0,1718.766638,0.000542,1,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5215,281,MAJULI,648,2023_04,0.00,0.0,0.00,0.00,0.0,0.0,...,2.0,7.813776,6.202922,22038.0,822.878713,0.000629,1,5,1,1
5216,281,MAJULI,648,2023_05,0.00,0.0,0.00,0.00,0.0,0.0,...,2.0,7.813776,6.202922,22038.0,822.878713,0.000629,1,5,1,1
5217,281,MAJULI,648,2023_06,0.00,0.0,0.00,0.00,0.0,0.0,...,2.0,7.813776,6.202922,22038.0,822.878713,0.000629,1,4,2,1
5218,281,MAJULI,648,2023_07,0.00,0.0,0.00,0.00,0.0,0.0,...,2.0,7.813776,6.202922,22038.0,822.878713,0.000629,1,5,3,1
5219,281,MAJULI,648,2023_08,0.00,0.0,0.00,0.00,0.0,0.0,...,2.0,7.813776,6.202922,22038.0,822.878713,0.000629,1,5,5,1

In [104]:
master.to_csv('MASTER_FEB2024.csv', index=False)

In [114]:
dfs = []
for month in master.timeperiod.unique():
    df = pd.read_csv(str(month)+'.csv')
    dfs.append(df)

In [115]:
topsis = pd.concat(dfs)

In [137]:
topsis[['vulnerability',
       'government-response', 'flood-hazard', 'exposure',
       'risk-score']].vulnerability.unique()

array([4, 5, 3, 1, 2])

In [118]:
## District

In [119]:
import geopandas as gpd

In [150]:
dist = gpd.read_file('assam_revenue_circle_nov2022.geojson')

In [160]:
g = pd.read_csv('district_objectid.csv')
g

    object_id                 district
0          33                   BAJALI
1          35                    BAKSA
2          32                  BARPETA
3          24                BISWANATH
4          10               BONGAIGAON
5          17                   CACHAR
6           5                CHARAIDEO
7          13                  CHIRANG
8          26                  DARRANG
9           7                  DHEMAJI
10          1                   DHUBRI
11         27                DIBRUGARH
12         20               DIMA HASAO
13         16                 GOALPARA
14          6                 GOLAGHAT
15         12               HAILAKANDI
16         23                    HOJAI
17         22                   JORHAT
18         30                   KAMRUP
19         29             KAMRUP METRO
20          8                K.ANGLONG
21         28                KARIMGANJ
22          9                KOKRAJHAR
23         15                LAKHIMPUR
24         18                   MAJULI
25          3                 MORIGAON
26         11                   NAGAON
27         19                  NALBARI
28         31                 SIVSAGAR
29         25                 SONITPUR
30          2  SOUTH SALMARA MANCACHAR
31         34                 TAMULPUR
32          4                 TINSUKIA
33         21                 UDALGURI
34         14       WEST KARBI ANGLONG

In [161]:
dist_sum = topsis.groupby(['district','timeperiod'])['vulnerability',
       'government-response', 'flood-hazard', 'exposure',
       'risk-score'].sum().reset_index()

/tmp/ipykernel_10683/2777100032.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dist_sum = topsis.groupby(['district','timeperiod'])['vulnerability',

In [162]:
compositescorelabels = ['1','2','3','4','5']

compscore = pd.cut(dist_sum['vulnerability'],bins = 5,precision = 0,labels = compositescorelabels )
dist_sum['vulnerability'] = compscore

compscore = pd.cut(dist_sum['government-response'],bins = 5,precision = 0,labels = compositescorelabels )
dist_sum['government-response'] = compscore

compscore = pd.cut(dist_sum['flood-hazard'],bins = 5,precision = 0,labels = compositescorelabels )
dist_sum['flood-hazard'] = compscore

compscore = pd.cut(dist_sum['exposure'],bins = 5,precision = 0,labels = compositescorelabels )
dist_sum['exposure'] = compscore

compscore = pd.cut(dist_sum['risk-score'],bins = 5,precision = 0,labels = compositescorelabels )
dist_sum['risk-score'] = compscore

In [166]:
dist_sum = dist_sum.merge(g,on='district')

In [169]:
final = pd.concat([topsis, dist_sum], ignore_index=True)

In [11]:
final.to_csv('TOPSIS_FEB24.csv', index=False)

In [9]:
final = pd.read_csv('TOPSIS_FEB24.csv')

In [10]:
final.columns = [col.lower().replace('_', '-').replace(' ', '-') for col in final.columns]