In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import glob
import re
from functools import reduce

Calculate total road length

In [5]:
df_merged.columns

Index(['District_x', 'STATE_x', 'TEHSIL_x', 'objectid_x', 'dtcode11_x',
       'object_id', 'LENGTH_x', 'COUNT_x', 'geometry_x', 'District_y',
       'STATE_y', 'TEHSIL_y', 'objectid_y', 'dtcode11_y', 'LENGTH_y',
       'COUNT_y', 'geometry_y', 'District', 'STATE', 'TEHSIL', 'objectid',
       'dtcode11', 'LENGTH', 'COUNT', 'geometry', 'road_length', 'road_count'],
      dtype='object')

In [7]:
RawDataPath = r"D:\CivicDataLabs_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\BHARATMAPS\data\RawData"
#road_length = glob.glob('*sdt_road_length.csv')
df1 = gpd.read_file(r'tehsil_SH.geojson')
df2 = gpd.read_file(r'tehsil_NH.geojson')
df3 = gpd.read_file(r'tehsil_allroads.geojson')

road_length = [df1,df2,df3]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['object_id'],
                                            how='outer'), road_length)

df_merged = df_merged.fillna(0)

df_merged['road_length']=df_merged['LENGTH']+df_merged['LENGTH_x']+df_merged['LENGTH_y']
df_merged['road_count']=df_merged['COUNT']+df_merged['COUNT_x']+df_merged['COUNT_y']
df_merged=df_merged.drop(['District_x','STATE_x', 'TEHSIL_x', 'objectid_x', 'dtcode11_x',
       'objectid', 'LENGTH_x', 'COUNT_x', 'geometry_x', 'District_y',
       'STATE_y', 'TEHSIL_y', 'objectid_y', 'dtcode11_y', 'LENGTH_y',
       'COUNT_y', 'geometry_y','STATE', 'dtcode11', 'LENGTH', 'COUNT', 'geometry'],axis=1)
df_merged

        object_id District     TEHSIL   road_length  road_count
0    02-023-00001   CHAMBA  BHATTIYAT  3.513985e+05       661.0
1    02-023-00002   CHAMBA   BRAHMAUR  5.687489e+05      1183.0
2    02-023-00003   CHAMBA     CHAMBA  1.607118e+06      3996.0
3    02-023-00004   CHAMBA    CHAURAH  1.122993e+06      2248.0
4    02-023-00005   CHAMBA  DALHOUSIE  3.021505e+05       712.0
..            ...      ...        ...           ...         ...
107  02-034-00010  KINNAUR     NICHAR  2.366179e+05       249.0
108  02-034-01703  KINNAUR   HANGRANG  4.885485e+04        49.0
109  02-034-01704  KINNAUR     MORANG  1.491698e+05        93.0
110  02-034-01705  KINNAUR       POOH  2.340252e+05       127.0
111  02-034-01706  KINNAUR     SANGLA  1.367430e+05       136.0

[112 rows x 5 columns]

In [12]:
BM_roads = df_merged.to_csv(r'D:\CivicDataLab_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\BHARATMAPS\data\variables\RoadLength\RoadLengths.csv', index=False)

## Schools

In [16]:
dfschools = gpd.read_file(r'D:\CivicDataLab_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\BHARATMAPS\data\RawData\tehsil_schools.geojson')
dfschools

,District,TEHSIL,object_id,Schools,geometry
0,BILASPUR,BHARARI,02-030-02104,102.0,"POLYGON ((76.72933 31.58233, 76.72960 31.58216..."
1,BILASPUR,BILASPUR,02-030-02105,195.0,"POLYGON ((76.87543 31.35065, 76.87538 31.35055..."
2,BILASPUR,GHUMARWIN,02-030-02106,210.0,"POLYGON ((76.78539 31.50015, 76.78555 31.49984..."
3,BILASPUR,JHANDUTA,02-030-02107,274.0,"POLYGON ((76.53093 31.46349, 76.53117 31.46338..."
4,BILASPUR,NAMHOL,02-030-02108,110.0,"POLYGON ((76.87507 31.33080, 76.87511 31.33059..."
...,...,...,...,...,...
107,KINNAUR,HANGRANG,02-034-01703,9.0,"POLYGON ((78.74985 31.90206, 78.74348 31.90203..."
108,KINNAUR,MORANG,02-034-01704,37.0,"POLYGON ((78.12863 31.86676, 78.12885 31.86658..."
109,KINNAUR,POOH,02-034-01705,40.0,"POLYGON ((78.45749 31.94192, 78.45830 31.94181..."
110,KINNAUR,SANGLA,02-034-01706,40.0,"POLYGON ((78.14321 31.51953, 78.14737 31.51822..."
111,LAHAUL & SPITI,SPITI,02-025-02401,103.0,"POLYGON ((78.68027 32.07694, 78.67365 32.07311..."

In [17]:
dfschools = dfschools.drop(['geometry'],axis=1)
dfschools = dfschools.rename(columns={'Schools':'schools_count'})
dfschools
dfschools.to_csv(r'D:\CivicDataLab_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\BHARATMAPS\data\variables\Schools\Schools.csv',index=False)

## Rails

In [20]:
rails = gpd.read_file(r'D:\CivicDataLab_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\BHARATMAPS\data\RawData\tehsil_rail.geojson')
rails.columns

Index(['District', 'STATE', 'TEHSIL', 'objectid', 'dtcode11', 'object_id',
       'LENGTH', 'COUNT', 'geometry'],
      dtype='object')

In [23]:
#rails = rails.drop(['STATE','objectid','dtcode11','geometry'],axis=1)
rails = rails.rename(columns={'LENGTH':'rail_length','COUNT':'rail_count'})
rails.to_csv(r'D:\CivicDataLab_IDS-DRR\IDS-DRR_Github\HP\flood-data-ecosystem-Himachal-Pradesh\Sources\BHARATMAPS\data\variables\RailLength\RailLengths.csv', index=False)